{
	"name": "<%- htmlWebpackPlugin.options.name %>",
	"js_entrypoint": "<%- htmlWebpackPlugin.files.publicPath %>/<%- htmlWebpackPlugin.files.js[0].split('/').pop() %>",
	"description": "<%- htmlWebpackPlugin.options.description %>",
	"display": "<%- htmlWebpackPlugin.options.display %>",
	"version": "<%- htmlWebpackPlugin.options.version %>",
	"commit": "<%- htmlWebpackPlugin.options.commit %>",
	"priority": <%- htmlWebpackPlugin.options.priority %>,
	"route": "<%- htmlWebpackPlugin.options.route %>"
}