/.idea/
/.vscode/
/artifact-deployer/
/assets/
/docs/
/e2e/
/extractedTranslations
/pkg/
/src/
/test/
/translations/
/zapp-ui/
/.eslintrc.js
/.nvmrc
/babel.config.app.js
/babel.config.js
/babel.config.serviceworker.js
/jest.config.js
/Jenkinsfile
/junit.xml
/postcss.config.js
/protractor.conf.js
/shell.iml
/tsconfig.json
/webpack.config.js
/webpack.e2e.config.js
/zapp.conf.js
/zapp.webpack.js
/zimlet_def.template.xml
