# SPDX-FileCopyrightText: 2021 2021 Zextras <https://www.zextras.com>

# SPDX-License-Identifier: CC0-1.0
/.idea/
/.vscode/
/artifact-deployer/
/assets/
/docs/
/extractedTranslations
/pkg/
/src/
/test/
/tinymce/
/translations/
/zapp-ui/
/.eslintrc.js
/.nvmrc
/babel.config.js
/jest.config.js
/Jenkinsfile
/junit.xml
/postcss.config.js
/protractor.conf.js
/rollup.config.js
/shell.iml
/tsconfig.json
/webpack.config.js
/zapp.conf.js
/zapp.webpack.js
/zimlet_def.template.xml
