Source: zextras-zapp-shell
Section: comm
Priority: optional
Maintainer: Zextras SRL <packages@zextras.com>
Uploaders: Zextras SRL <packages@zextras.com>
Standards-Version: 3.9.5
Homepage: https://zextras.com

Package: zextras-zapp-shell
Priority: optional
Architecture: any
Depends: zimbra-base
Description: A web application framework by Zextras
