/*
 * SPDX-FileCopyrightText: 2021 Zextras <https://www.zextras.com>
 *
 * SPDX-License-Identifier: AGPL-3.0-only
 */


html, body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

#app {
  display: flex;
  flex-direction: column;
  width: 100vw;
  max-width: 100vw;
  height: 100%;
  min-height: 100%;
  max-height: 100%;
}

.tox.tox-tinymce {
	width: 100%;
	height: 100%;
	border: none;
}

@media (prefers-color-scheme: dark) {
	html {
		background: #00506D;
	}
}

@media (prefers-color-scheme: light) {
	html {
		background: #e5e5e5;
	}
}
